<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tag My Mobile</key>
	<dict>
		<key>PageList</key>
		<dict>
			<key>New item</key>
			<string></string>
		</dict>
		<key>PageTitle</key>
		<string>Step1:Choose an Advertiser</string>
	</dict>
	<key>Show Ads</key>
	<dict/>
</dict>
</plist>
