<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SelectList</key>
	<array>
		<dict>
			<key>ItemName</key>
			<string>Tag My Mobile</string>
			<key>TargetPageKind</key>
			<string>1</string>
			<key>TargetFileName</key>
			<string></string>
		</dict>
		<dict>
			<key>ItemName</key>
			<string>Show Ads</string>
			<key>TargetPageKind</key>
			<string>1</string>
			<key>TargetFileName</key>
			<string></string>
		</dict>
	</array>
	<key>Kind</key>
	<integer>0</integer>
</dict>
</plist>
